        <div class="form-group ">
          <label class='form-label col-md-2'>Organisation</label>
    		<div class="col-md-8">
        		<%= @organisation.name %>
    		</div>
        </div>

         <div class="form-group ">
          <label class='form-label col-md-2'>Address</label>
          <div class='col-md-8'>
              <%= @organisation.address.html_safe %>
          </div>
        </div>

 

        <div class="form-group ">
          <label class='form-label col-md-2'>Phone</label>
          <div class='col-md-8'>
             <%= @organisation.phone %>
          </div>
        </div>  
