
      
     
        <div class='col-md-10 col-md-offset-2' id='condition_div'>
          <select name='<%= @person.id %>' id='condition' class="selectpicker">
          <option value="" selected>Add condition...</ option>
          <%= options_from_collection_for_select(Condition.order(:name).all, :id, :name, :name) %>
          <option data-divider="true"></option>
          <option>New...</option>
          </select>
        </div>
     
    
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="$('#new_condition').val('');"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter new condition</h4>
      </div>
      <div class="modal-body">
        <input type=text id='new_condition' name='new_condition'>
        <input type=hidden id='modal_person' value='<%= @person.id %>'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal"  onClick="$('#new_condition').val('');">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

