<%# Links for current user. %>
<div class="navbar-text pull-right">

  <%= icon_tag "user" %> Welcome, <strong><%= "User" %></strong>
  <span class="divider">|</span>
  <%= link_to "Settings", "#" %>

</div>